/* Custom Properties */

:root {
  --primary-dark: hsl(300, 43%, 22%);
  --primary-accent: hsl(333, 80%, 67%);
  --neutral-dark: hsl(303, 10%, 53%);
  --neutral-light: hsl(300, 24%, 96%);
  --neutral-white: hsl(0, 0%, 100%);
  --fs-main: 15px;
  --ff-main: 'Spartan', sans-serif;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 700;
}

/* Reset styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.flow-content > * + * {
  margin-top: 1rem;
}

/* Base styling */

body {
  font-size: var(--fs-main);
  font-family: var(--ff-main);
  background-color: var(--neutral-white);
  text-align: center;
  line-height: 1.7;
  max-width: 30rem;
  margin: 0 auto;
  padding: 5rem 2rem;
  display: grid;
  grid-template-areas:
    'header'
    'ratings'
    'testimonials';
  gap: 3rem;
  background: url('./images/bg-pattern-top-mobile.svg') top left no-repeat,
    url('./images/bg-pattern-bottom-mobile.svg') bottom/100% no-repeat;
}

h1 {
  line-height: 1;
}

/* header styling */

header {
  grid-area: header;
}

header h1 {
  color: var(--primary-dark);
  width: 20rem;
  margin: auto;
}

header p {
  color: var(--neutral-dark);
}

/* ratings styling */

.ratings {
  grid-area: ratings;
  display: flex;
  flex-flow: column nowrap;
}

.ratings .item {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--neutral-light);
  border-radius: 10px;
}

.ratings .stars {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ratings .category {
  color: var(--primary-dark);
  font-weight: var(--fw-bold);
}

/* testimonials styling */

.testimonials {
  grid-area: testimonials;
}

.testimonials .item {
  padding: 2rem;
  background-color: var(--primary-dark);
  border-radius: 10px;
  color: var(--neutral-white);
  text-align: left;
}

.testimonials .author {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.testimonials .author img {
  width: 3rem;
  margin-right: 1.5rem;
  border-radius: 50%;
}

.testimonials .author .description {
  display: flex;
  flex-direction: column;
  font-weight: var(--fw-medium);
}

.testimonials .author .name {
  font-weight: var(--fw-bold);
}

.testimonials .author .role {
  color: var(--primary-accent);
}

/* Desktop styling media queries */

@media screen and (min-width: 1150px) {
  body {
    text-align: left;
    grid-template-columns: minmax(25rem, 1fr) minmax(25rem, 1fr);
    grid-template-areas:
      'header ratings'
      'testimonials testimonials';
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 7rem;
    background: url('./images/bg-pattern-top-desktop.svg') top left no-repeat,
      url('./images/bg-pattern-bottom-desktop.svg') bottom right no-repeat;
  }

  header h1 {
    font-size: 2.2rem;
    margin: auto 0;
  }

  header p {
    padding-right: 4rem;
  }

  .ratings .item {
    flex-direction: row;
    align-items: center;
    padding: 1rem 2rem;
    width: 27rem;
  }

  .ratings .item:nth-child(1) {
    align-self: flex-start;
  }

  .ratings .item:nth-child(2) {
    align-self: center;
  }

  .ratings .item:nth-child(3) {
    align-self: flex-end;
  }

  .ratings .stars {
    margin-bottom: 0;
    margin-right: 2rem;
  }

  .testimonials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    height: 17rem;
    gap: 2rem;
    font-size: 0.75rem;
  }

  .testimonials .item {
    margin: 0;
  }

  .testimonials .item:nth-child(2) {
    margin-top: 1rem;
  }

  .testimonials .item:nth-child(3) {
    margin-top: 2rem;
  }

  .testimonials .author img {
    width: 2.5rem;
  }
}
