/* Custom Properties */

:root {
  --primary-dark: hsl(300, 43%, 22%);
  --primary-accent: hsl(333, 80%, 67%);
  --neutral-dark: hsl(303, 10%, 53%);
  --neutral-light: hsl(300, 24%, 96%);
  --neutral-white: hsl(0, 0%, 100%);
  --fs-main: 15px;
  --ff-main: 'Spartan', sans-serif;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 700;
}

/* Reset styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.flow-content > * + * {
  margin-top: 1rem;
}

/* Base styling */

body {
  font-size: var(--fs-main);
  font-family: var(--ff-main);
  background-color: var(--neutral-light);
  text-align: center;
  line-height: 1.7;
}

h1 {
  line-height: 1;
}
